@import url('../../.cache/wal/colors-waybar.css');
@define-color background-color alpha(@background,.5);
@define-color border-color alpha(@color9, 0.15);
@define-color label @color15;
@define-color image @color9;
@define-color progress @color5;

window {
  border-radius: 0.5rem; /* 8px for consistency */
  opacity: 0.80;
  border: 1px solid @border-color;
  background-color: @background-color;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.4);
}

label {
  font-family: 'CodeNewRoman Nerd Font Propo', sans-serif;
  font-size: 1rem; /* 16px */
  color: @color15;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0.5rem; /* rounded corners */
  background-color: transparent;
}

progress {
  background-color: @progress;
  border-radius: 0.5rem; /* matches bar shape */
}