* {
    background:     #11140eB3;         
    background-alt: #1e211aB3;
    foreground:     #e2e3d9FF;      
    selected:       #aed18dB3;
    active:         #becbaeB3;
    urgent:         #ffb4abB3;
}
