@import url("colors.css");

@define-color mpris-album-art-overlay alpha(@surface_container_low, 0.55);
@define-color mpris-button-hover alpha(@surface_container_low, 0.50);
@define-color text @on_surface;
@define-color bg alpha(@surface_container_low, 0.5);
@define-color bg-hover alpha(@surface_container_low, 0.8);
@define-color mycolor @surface_container_lowest;
@define-color border-color alpha(@mycolor, 0.15);
@define-color critical @error;

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

* {
  outline: none;
  font-family: "CodeNewRoman Nerd Font Propo", sans-serif;
}

.control-center .notification-row {
  background-color: unset;
}

.notification {
  background: alpha(@surface_container_lowest, 0.4);
  border-radius: 0.6rem;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.15rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  background: alpha(@surface_container_lowest, 0.25);
}

.floating-notifications .notification {
  animation: fadeIn 0.3s ease-in-out;
}

.notification widget:hover {
  background: @secondary_container;
  color: @on_surface;
}

.summary {
  font-size: 1rem;
  font-weight: 500;
}

.time {
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.6rem;
}

.body {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

.notification.critical .notification-content label {
  color: @error;
  font-weight: bold;
}

.close-button {
  all: unset;
  min-height: 1.2rem;
  min-width: 1.2rem;
  color: @on_surface;
  border-radius: 0.6rem;
}

.close-button:hover {
  background: @secondary_container;
  color: @on_surface;
  border-radius: 0.6rem;
}

.control-center {
  background: @bg;
  color: @on_surface;
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 0.4rem;
}

.widget-title {
  padding: 0.6rem;
  color: @on_surface;
}

.widget-title > button {
  font-size: 0.9rem;
  color: @on_surface;
  background: alpha(@primary, 0.3);
  border-radius: 0.6rem;
  padding: 0.25rem 0.6rem;
  transition: all 0.2s ease-in-out;
}

.widget-title > button:hover {
  background: @secondary_container;
  color: @on_surface;
}

.widget-mpris .widget-mpris-player {
  padding: 0.35rem 0.6rem;
  margin: 0.2rem;
  background-color: @mpris-album-art-overlay;
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.widget-buttons-grid {
  padding: 0.35rem;
  margin: 0.2rem;
  border-radius: 0.6rem;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  border-radius: 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @secondary_container;
  color: @on_surface;
}