@define-color foreground #c2c0c2;
@define-color background #0e060b;
@define-color cursor #c2c0c2;

@define-color color0 #0e060b;
@define-color color1 #2a364c;
@define-color color2 #394153;
@define-color color3 #7d341b;
@define-color color4 #b47d3f;
@define-color color5 #42536b;
@define-color color6 #765a67;
@define-color color7 #958a92;
@define-color color8 #695561;
@define-color color9 #384966;
@define-color color10 #4D576F;
@define-color color11 #A74625;
@define-color color12 #F0A755;
@define-color color13 #586F8F;
@define-color color14 #9E798A;
@define-color color15 #c2c0c2;
@define-color mpris-album-art-overlay alpha(@background, 0.55);
@define-color mpris-button-hover alpha(@background, 0.50);
@define-color text @color15;
@define-color bg alpha(@background,.5);
@define-color bg-hover alpha(@background,.8);
@define-color mycolor @color9;
@define-color border-color alpha(@mycolor, 0.15);

@keyframes fadeIn {
  0% {
    padding-left: 1.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  100% {
    padding: 0;
    margin: 0;
  }
}

* {
  outline: none;
  font-family: "CodeNewRoman Nerd Font Propo", sans-serif;
}

.control-center .notification-row {
  background-color: unset;
}

.notification {
  background: alpha(@mycolor,.4);
  border-radius: 0.75rem;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.15rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .3);
  background: alpha(@mycolor,.25);
}

.floating-notifications .notification {
  animation: fadeIn .5s ease-in-out;
}

.notification widget:hover {
  background: alpha(@mycolor,.15);
}

.floating-notifications.background .notification-background .notification .notification-content,
.control-center .notification-background .notification .notification-content {
  padding-top: 0.75rem;
}

/* Texts */
.summary {
  font-size: 1rem;
  font-weight: 500;
}
.time {
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 1rem;
}
.body {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

/* Critical */
.control-center .notification-row .notification-background .notification.critical .notification-content,
.floating-notifications.background .notification-background .notification.critical .notification-content {
  border-radius: 0.75rem;
}

.control-center .notification-row .notification-background .notification.critical .notification-content label {
  color: #680003;
}

/* Close Button */
.close-button {
  all: unset;
  min-height: 1.25rem;
  min-width: 1.25rem;
  color: @text;
}
.close-button:hover {
  background-color: @bg;
  border-radius: 50%;
}

/* Control Center */
.control-center {
  background: @bg;
  color: @text;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .65);
}

.widget-title {
  padding: 1rem;
  color: @text;
}
.widget-title > button {
  font-size: 0.9rem;
  color: @text;
  background: rgba(255,85,85,.3);
  border-radius: 0.75rem;
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
  transition: all .3s ease;
}
.widget-title > button:hover {
  background: @bg-hover;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,.5);
}

/* Labels */
.widget-label > label {
  font-size: 1.1rem;
}

/* MPRIS */
.widget-mpris .widget-mpris-player {
  padding: 1rem;
  margin: 1rem;
  background-color: @mpris-album-art-overlay;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.65);
}
.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1rem;
}

/* Buttons Grid */
.widget-buttons-grid {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
  background: transparent;
}
.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 1rem;
  color: @color7;
  transition: all .3s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover label {
  color: @text;
}
.widget-buttons-grid > flowbox > flowboxchild > button {
  border-radius: 0.75rem;
  background: transparent;
  transition: all .3s ease;
}
.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @color4;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @mycolor;
}
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @background;
}

/* Sliders */
trough {
  border-radius: 1rem;
  background: transparent;
}
trough highlight {
  background: @mycolor;
  border-radius: 1rem;
  box-shadow: 0 0 0.3125rem rgba(0,0,0,.5);
}

.widget-volume,
.widget-backlight {
  background-color: transparent;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
}
